.button {
  .blue-background();
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;

  &:hover,
  &:focus {
    background-color: @base-blue-hover;
  }

  &:active {
    background-color: @base-blue-down;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--button-like {
  display: block;
  .no-a-style();
  color: @white;
}
