.form-main {
  width: @mobile-width - 20px * 2; // 280px
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form-main {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .form-main {
    width: @desktop-width;
  }
}
