.further-comment {
  .list-reset();
  color: @black;
  background-color: @white;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 35px;
}

.further-comment__item {
  position: relative;
  padding-left: 70px;
}

.further-comment__item::before {
  left: 20px;
  top: -10px;
}

.further-comment__item--motel::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 36.83px;
  left: 22px;
  top: -8px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 39px 36.83px;
}

.further-comment__item--souvenirs::before {
  content: "";
  position: absolute;
  left: 25px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 38px;
}

.further-comment__item--food::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  top: -5px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 35px;
}

.further-comment__title {
  .base-title-style();
  text-align: left;
  margin: 0;
  padding: 0;
}

.further-comment__description {
  line-height: 21px;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .further-comment {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 33px;
    padding: 0;
    justify-content: flex-start;
  }

  .further-comment__item {
    width: @tablet-width / 3;
    padding-top: 157px;
    padding-left: 0;
  }

  .further-comment__item--souvenirs {
    order: 1;
  }

  .further-comment__title {
    font-size: 21px;
    text-align: center;
  }

  .further-comment__description {
    text-align: center;
    width: 200px;
    padding-top: 23px;
  }

  .further-comment__item::before {
    left: 50%;
  }

  .further-comment__item--motel::before {
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
    margin-left: -37.5px;
    top: 60px;
  }

  .further-comment__item--souvenirs::before {
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
    margin-left: -32px;
    top: 56px;
  }

  .further-comment__item--food {
    &::before {
      width: 76px;
      height: 68px;
      background-size: 76px 68px;
      top: 64px;
      margin-left: -38px;
    }

    .further-comment__description {
      width: 155px;
    }
  }
}

@media (min-width: @desktop-width) {
  .further-comment {
    width: 1200px;
    margin-bottom: 53px;
  }

  .further-comment__item {
    width: @desktop-width / 3;
  }

  .further-comment__description {
    width: 260px;
  }

  .further-comment__item--food .further-comment__description {
    width: 300px;
  }
}
