.modal__title {
  .base-title-style();
  margin: 0;
  margin-top: 35px;
  margin-bottom: 25px;

  &--error {
    margin-bottom: 25px;
  }
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: @mobile-width;
  background-color: @white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 5;
}

.modal--success {
  background: linear-gradient(to top, @light-grey 100px, @white 100px);
  min-height: 323px;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal--closed {
  display: none;
}

.modal__message {
  width: 240px;
  margin: 0;

  &--success {
    margin-bottom: 60px;
  }

  &--error {
    margin-bottom: 20px;
  }
}

.modal__button {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;

  &--error {
    margin-bottom: 35px;
    width: 180px;
  }

  &--success {
    width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .modal__title {
    font-size: 30px;
    line-height: 40px;

    &--error {
      width: 250px;
      margin-top: 50px;
      margin-bottom: 25px;
    }

    &--success {
      margin-top: 45px;
      margin-bottom: 27px;
    }
  }

  .modal__message--error {
    width: 300px;
    margin-bottom: 35px;
  }

  .modal__message--success {
    width: 500px;
    margin-bottom: 80px;
  }

  .modal--success {
    width: @tablet-width - 64px * 2;
    background: linear-gradient(to top, @light-grey 146px, @white 146px);
  }

  .modal--error {
    width: 400px;
    min-height: 347px;
  }

  .modal__button--success {
    width: 458px;
    font-size: 21px;
    margin-bottom: 44px;
  }

  .modal__button--error {
    width: 272px;
    font-size: 21px;
    margin-bottom: 30px;
  }
}
