.photos {
  width: @mobile-width - 20 * 2;
  margin: 0 auto;
}

.photos__intro {
  margin: 0 auto;
  margin-bottom: 30px;
}

.photos__list {
  .list-reset();
  width: 100%;
}

.photos__list-item {
  position: relative;
  padding-top: 23px;
  padding-bottom: 16px;
}

.photos__list-item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.photos__list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 320px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.photos__figcaption {
  margin-top: 10px;
  box-sizing: border-box;
  text-align: left;
}

.photos__like-thumb {
  margin-top: 10px;
  text-align: left;
}

.photos__item-title {
  .base-text-style();
  font-weight: 700;
  margin: 0;
}

.photos__item-author {
  text-transform: none;
  margin: 0;
}

.photos__image {
  display: block;
}

.photos__figure {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photos {
    width: @tablet-width - 60 * 2; // 648px
  }

  .photos__list-item {
    padding: 0;
  }

  .photos__intro {
    width: 430px;
    margin-bottom: 78px;
  }

  .photos__figcaption {
    margin: 0;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 16px;
    background-color: @light-grey;
  }

  .photos__like-thumb {
    position: absolute;
    right: 28px;
    bottom: 28px;
  }

  .photos__list-item--large .photos__like-thumb {
    right: 19px;
    bottom: 24px;
  }

  .photos__list {
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__list-item:first-child::before,
  .photos__list-item::after {
    display: none;
  }

  .photos__list-item,
  .photos__image {
    width: 324px;
  }

  .photos__list-item--large,
  .photos__image--large {
    width: 648px;
  }

  .photos__list-item:nth-child(2n+3) .photos__figcaption {
    background-color: @darker-grey;
  }
}

@media (min-width: @desktop-width) {
  .photo-main {
    background-color: @white;
  }

  .photos {
    width: 100%;
  }

  .photos__intro {
    margin-bottom: 80px;
  }

  .photos__list {
    width: @desktop-width;
  }

  .photos__list-item {
    position: relative;
    width: 400px;
  }

  .photos__image {
    width: @desktop-width / 3;
  }

  .photos__list-item--large,
  .photos__image--large {
    width: 1200px;
  }

  .photos__figure {
    position: relative;
  }

  .photos__figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photos__list-item:nth-child(2n+3) .photos__figcaption {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photos__item-title,
  .photos__item-author {
    color: @white;
    opacity: 1;
    z-index: 3;
  }
}
