// review-form.less

.review-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.review-form__part {
  position: relative;
  padding-top: 22px;
  padding-bottom: 3px;
}

.review-form__part::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: @mobile-width;
  height: 1px;
  background-color: @less-light-grey;
}

.review-form__part--contactinfo {
  padding-bottom: 12px;

  .review-form__part-title {
    margin-bottom: 15px;
  }
}

.review-form__label-input--presentation {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  align-items: center;

  input {
    flex-grow: 1;
  }
}

.review-form__label-input--contactinfo {
  margin-bottom: 12px;
  flex-direction: column;

  .textfield__label {
    margin-bottom: 10px;
  }

  label {
    margin-left: 20px;
  }
}

.review-form__part-title {
  .base-title-style();
  margin-bottom: 20px;
}

.review-form__label-input {
  .radio__label {
    margin-bottom: 43px;
  }
}

.review-form__part--impression {
  padding-bottom: 0;
}

.review-form__part--sights-visited {
  padding-top: 15px;

  .review-form__part-title {
    margin-bottom: 5px;
  }
}

.review-form__part--your-emotions {
  margin-top: -20px;
}

.review-form__button {
  display: block;
  width: 280px;
  padding: 20px;
  font-size: 18px;
}

.review-form__footnote {
  display: none;
}

@media (min-width: @tablet-width) {
  .review-section__title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .review-section__intro {
    width: 440px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .review-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 292px;
      background-color: #dbdbdb;
      left: 50%;
      top: 0;
    }
  }

  .review-form__footnote {
    display: block;
    margin: 0;
  }

  .review-form__part::before {
    display: none;
  }

  .review-form__part-title {
    font-size: 21px;
  }

  .review-form__part--presentation {
    width: 40%;

    .review-form__part-title {
      text-align: left;
      margin-bottom: 50px;
    }
  }

  .review-form__part--impression {
    order: -2;
    width: 45%;

    .review-form__part-title {
      text-align: left;
      margin-bottom: 50px;
    }
  }

  .review-form__part--contactinfo {
    width: 100%;
  }

  .review-form__part--sights-visited {
    width: 100%;

    .review-form__part-title {
      width: 300px;
      margin: 0 auto;
    }
  }


  .review-form__part--contactinfo::after,
  .review-form__part--sights-visited::after,
  .review-form__part--your-emotions::after {
    content: "";
    position: absolute;
    width: 648px;
    height: 1px;
    // background-color: #dbdbdb;
    background: linear-gradient(to right, #dbdbdb 100px, @white 100px 548px, #dbdbdb 548px);
    top: 13px;
    left: 0;
    z-index: -1;
  }

  .review-form__fieldset--sights-visited {
    display: flex;
    flex-wrap: wrap;
  }

  .review-form__fieldset--sights-visited .checkbox {
    width: 50%;
  }

  .review-form__part--your-emotions {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .review-form__label-input--contactinfo {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;

    label {
      margin-left: 0;
    }
  }

  .review-form__part-wrapper--contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review-form__fieldset--sights-visited .checkbox {
    width: 25%;
  }
}
