.review-section__title {
  .base-title-style();
  margin-top: 35px;
  margin-bottom: 27px;
}

.review-section__intro {
  margin: 0;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .review-section {
    max-width: 648px;
  }

  .review-section__title {
    font-size: 30px;
  }
}
